<!--Item DIV -->
<div id="OrderDiv">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-history" aria-hidden="true"></i> ORDER HISTORY
    </div>
    <div class="panel-body" style="padding-left:5em;">

  {{#if object_item_hash}}
    <div class="row">
      <input type="text" id="myInput1" onkeyup="myFunction(0,'myInput1')" placeholder="Search by Order Date" title="Type in a name">
      <input type="text" id="myInput2" onkeyup="myFunction(1,'myInput2')" placeholder="Search by Order Number" title="Type in a name">
      <br />
      <input type="hidden" id="myInput3" value="">
      <input type="hidden" id="myInput4" value="">
      <input type="hidden" id="myInput5" value="">
      <input type="hidden" id="myInput6" value="">
      <form id="downloadpdf_form" action="/print_del_report">
        <a onclick="downloadpdf()">Download Today's Order</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onclick="myFunction(0,'myInput5')">All Order's</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </form>
      <br />
      <a href="#" onclick="searchTodaysOrder(6,'myInput6','myInput3')">Today's Order</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" id="viewAllItemOrderTable" >Item Wise Order(Today)</a>&nbsp;&nbsp;
      <a href="#" onclick="searchTodaysOrder(6,'myInput4','myInput3')">Today's Cancel Order</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="table-responsive">
        <table id="myTable" style="width:70%">
          <tr class="header">
            <th onclick="sortTable(0)">Order Date <span class="glyphicon glyphicon-sort"></span></th>
            <th onclick="sortTable(1)">Order Number <span class="glyphicon glyphicon-sort"></span></th>
            <th>Item</th>
            <th onclick="sortTable(3)"># <span class="glyphicon glyphicon-sort"></span></th>
            <th onclick="sortTable(4)">Price <span class="glyphicon glyphicon-sort"></span></th>
            <th onclick="sortTable(5)">Bill Amount <span class="glyphicon glyphicon-sort"></span></th>
            <th onclick="sortTable(6)">Status <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
          </tr>
          {{#each object_item_hash}}
          <tr>
            <td>{{order_date}}</td>
            <td>{{receipt_number}}</td>
            <td>{{order_itemName}}</td>
            <td>{{order_itemQty}}</td>
            <td>{{order_itemPrice}}</td>
            <td><i class="fa fa-inr"></i>&nbsp;{{total}}</td>
            <td><span class="label label-info">{{status}}</span></td>
<td>
            <div class="link_edit">
              <a class="btnEdit" href="#" id="editOrderStatus">
                <i class="fa fa-edit" title="Change Status"></i>
               </a>
            </div>
</td>
          </tr>
          {{/each}}
        </table>
        <br />
      </div>
    </div>
    {{else}}
      <h1><span class="glyphicon glyphicon-star-empty"> No Order Placed Yet</span></h1>
  {{/if}}
</div>
</div>
</div>
