<!--Admin Order DIV -->
<div id="OrderDiv">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-history" aria-hidden="true"></i> ORDER HISTORY
    </div>
    <div class="panel-body" style="padding-left:5em;">
      {{#if object_item_hash}}
      <!-- Order List Table -->
      <div class="row">
        <select name="state" id="maxRows" style="height:46px;width:4%;">
          <option value="5000">Show ALL Rows</option>
          <option value="5">5</option>
          <option selected value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="70">70</option>
          <option value="100">100</option>
        </select>
        <input type="text" id="myInput1" style='width:18%;' placeholder="Search by Order Date">
        <input type="text" id="myInput2" style='width:18%;' placeholder="Search by Order Number">
        <select id='filterLocation' name='filterLocation' style='width:30%;height:46px;' onchange='filterLocation()'>
          <option selected value="0">All Order's</option>
          {{#each locationList}}
            <option value='{{company}},{{city}}'>{{company}},{{city}}</option>
          {{/each}}
        </select>
        <select style='width:20%;height:46px;' id='filterOrderTableWithOption'>
          <option value="0">All Order's</option>
          <option value="1">Today's Order</option>
          <option value="2">Today's Cancel Order</option>
        </select>
        <input type="hidden" id="myInput3" value="">
        <input type="hidden" id="myInput4" value="">
        <input type="hidden" id="myInput5" value="">
        <input type="hidden" id="myInput6" value="">
        <a  href="#" id='exportButton' class='exportButton btn btn-success btn-lg' name='exportButton'>
          <span class="glyphicon glyphicon-download-alt" style="color:white"></span>
        </a>
        <div class="table-responsive">
          <table title="My Table" id="myTable" name="myTable" style="width:95%" class="table table-bordered table-hover">
            <tr class="header">
              <th onclick="sortTable(0)" data-tableexport-display="none">Order Date <span class="glyphicon glyphicon-sort"></span></th>
              <th onclick="sortTable(1)" style="width:20%;">Order Number <span class="glyphicon glyphicon-sort"></span></th>
              <th style="width:15%;">Name</th>
              <th style="width:20%;">Menu</th>
              <th onclick="sortTable(4)" style="width:20%;">Address</th>
              <th style="display:none;" data-tableexport-display="always">Order Location</th>
              <th>Phone Number</th>
              <th style="width:15%;" onclick="sortTable(7)">Bill Amount <span class="glyphicon glyphicon-sort"></span></th>
              <th onclick="sortTable(8)" data-tableexport-display="none">Status <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            {{#each object_item_hash}}
            <tr class="content">
              <td data-tableexport-display="none">{{order_date}}</td>
              <td>{{receipt_number}}</td>
              <td>{{user_firstName}}</td>
              <td>{{order_itemName}}-{{order_itemQty}}</td>
              <td>{{delivery_address}}</td>
              <td style="display:none;" data-tableexport-display="always">{{order_from_location}}</td>
              <td>{{phone_number}}</td>
              <td><i class="fa fa-inr"></i>&nbsp;{{total}}</td>
              <td data-tableexport-display="none"><span class="label label-info">{{status}}</span></td>
            </tr>
            {{/each}}
          </table>
          <div class='pagination-container' style="margin-top:-30px;">
				     <nav>
				       <ul class="pagination">
				       <!--	Here the JS Function Will Add the Rows -->
				       </ul>
				    </nav>
			    </div>
          <br />
        </div>
      </div>
      <!--/Orderlist Table-->
      {{else}}
        <h1><span class="glyphicon glyphicon-star-empty">No Order Placed Yet</span></h1>
      {{/if}}
    </div>
  </div>
</div>
<!--/Closing Admin Order DIV-->
