<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<head>
    <title>SouthMeal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="/css/w3style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <meta charset="utf-8">
</head>

<body>
<div class="logo_products">
  {{#checkUserIsAdmin user}}
  {{else}}
    <div class="w3ls_logo_products_left">
      <h1>
        <a href="/">SOUTHMEAL'S</a>
      </h1>
      <br />
    </div>
  {{/checkUserIsAdmin}}
  {{#if user}}
    <br />
    <div class="clearfix"></div>
  {{else}}
    <div>
      <form id="loginform" class="form-horizontal" role="form" method="post" action="/users/login">
        <span>
          <i class="glyphicon glyphicon-user user_login_icon"></i>
        </span>
        <input type="search" name="username" class="custmInputBox" placeholder="Mobile Number" pattern="[789][0-9]{9}" required>
        <span>
          <br />
          <i class="glyphicon glyphicon-lock pw_login_icons"></i>
        </span>
        <input type="password" name="password" style="height: 50%;width: 170px" class="custmInputBox" placeholder="Password" required>
        <button type="submit" class="btn btn-default search login_button">Login</button>
        <br />
        <a href="/forget_password" class="forget_pw_link">Forgot Password?</a>
        <a href="/users/register" class="signUp_link">Sign Up Here</a>
      </form>
    </div>
    <br />
    <div class="clearfix"> </div>
  {{/if}}
</div>

{{#checkUserIsAdmin user}}
{{else}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbarItem" style="margin-left:12%">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="../howWeWork">How we Work?</a></li>
        <li><a href="../contact">Feedback</a></li>
      </ul>
      {{#if user}}
      <ul class="nav navbar-nav navbar-right navbarItem" style="margin-right:12%">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">{{user.firstname}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user_order_history">Order History</a></li>
              <li><a href="/user_profile">View Profile</a></li>
              <li><a href="#">Support</a></li>
          </ul>
        </li>
        <li>
          <div id="timer timerDiv">
            <div id="timeing" style="color:white;"></div>
          </div>
        </li>
        <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav navbar-right" style="margin-right:12%">
        <li>
          <div id="timer">
            <div id="timeing"></div>
          </div>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>
{{/checkUserIsAdmin}}

{{{body}}}

{{#checkUserIsAdmin user}}
{{else}}

<button class="fa fa-shopping-cart" onclick="topFunction()" id="myBtn" title="Cart"></button>

<footer id="site-footer" class="footer">
    <center><p>
        &copy; 2017 South Meal,Bangalore.
    </p></center>
</footer>
{{/checkUserIsAdmin}}


</body>
<script>
    function chengeMenuClass() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    setTimeout(function() {
                $('.alert').fadeOut('slow');
              }, 2000);
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script src="/js/pagination.js"></script>
</html>