<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<head>
    <title>SouthMeal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="/css/w3style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.login_button{
  float: right;
  margin-top:0.3em;
  margin-right: 13%;
}

.forget_pw_link{
  float: right;
  margin-top:10px;
  margin-right: 13%;
}

.signUp_link{
  float: right;
  margin-top:10px;
  margin-right: 1%;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
  .custmInputBox{
    width: 50%;
    height: 5%;
    margin-left:0em;
  }
  .custmInputBox {
    width: 50%;
  }
  .login_button{
    float: right;
    margin-top:0.3em;
    margin-right: 4%;
  }

  .forget_pw_link{
    float: right;
    margin-top:10px;
    margin-right: 12%;
  }

  .signUp_link{
    float: right;
    margin-top:10px;
    margin-right: 6%;
  }

}
</style>
</head>

<body>
<div class="logo_products">
  {{#checkUserIsAdmin user}}
  {{else}}
    <div class="w3ls_logo_products_left">
      <h1>
        <a href="/">SOUTHMEAL'S</a>
      </h1>
      <br />
    </div>
  {{/checkUserIsAdmin}}
  {{#if user}}
    <br />
    <div class="clearfix"></div>
  {{else}}
    <div>
      <form id="loginform" class="form-horizontal" role="form" method="post" action="/users/login">
        <span>
          <i class="glyphicon glyphicon-user" style="margin-top: 0.1em;margin-bottom:0em;margin-left:5em;"></i>
        </span>
        <input type="search" name="username" class="custmInputBox" placeholder="Mobile Number" pattern="[789][0-9]{9}" required>
        <span>
          <br />
          <i class="glyphicon glyphicon-lock" style="margin-top:0.6em;margin-left:5em;"></i>
        </span>
        <input type="password" name="password" style="width:11%;height:5%;" class="custmInputBox custmInputBox_pw" placeholder="Password" required>
        <button type="submit" class="btn btn-default search login_button">Login</button>
        <br />
        <a href="/forget_password" class="forget_pw_link">Forgot Password?</a>
        <a href="/users/register" class="signUp_link">Sign Up Here</a>
      </form>
    </div>
    <br />
    <div class="clearfix"> </div>
  {{/if}}
</div>

{{#checkUserIsAdmin user}}
{{else}}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="../howWeWork">How we Work?</a></li>
          <li><a href="../contact">Feedback</a></li>
          <li style="color:#222;">TESTTESTETSTESTES</li>
          <li>
          <div id="timer">
            <div id="timeing" style="color:white;font-size:15px;"></div>
          </div>
          </li>
        </ul>
        {{#if user}}
          <ul class="nav navbar-nav navbar-right" style="margin-right:12em;">
            <li>
              <div class="dropdown accountdropdown"  style="margin-top:0px;">
                <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user" /> {{user.firstname}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/user_order_history">Order History</a></li>
                  <li><a href="/user_profile">View Profile</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/users/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
          </ul>
          {{/if}}

        </div>
    </div>
</nav>
{{/checkUserIsAdmin}}

{{{body}}}

{{#checkUserIsAdmin user}}
{{else}}

<footer id="site-footer" class="footer">
    <center><p>
        &copy; 2017 South Meal,Bangalore.
    </p></center>
</footer>
{{/checkUserIsAdmin}}

</body>
<script>
function chengeMenuClass() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}

setTimeout(function() {
            $('.alert').fadeOut('slow');
          }, 2000);

</script></html>


<style>
.footer {
  position: absolute;
   right: 0;
   left: 0;
   padding: 1rem;
   background-color: #efefef;
   text-align: center;
}
     #site-footer {
        height: 50px;
        background: Black;
        color: white;
    }
    #footer1{
        margin-left:2%;
        float:left;

    }
    #footer2{
        margin-right:2%;
        float:right;
    }
</style>

<style>
    @media (min-width: 768px) {
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    }

</style>

<style>
    .alert {
        padding: 20px;
        text-align: center;
    }

    .closebtn {
        margin-left: 15px;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>
