
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<style>
</style>

<style>
    #cart_order_div {
        position: fixed;
        right: 8%;
        top: 37%;
        width: 20em;
        margin-top: -2.5em;
        background-color:  #ffffb3;
        padding-top: 1em;
        padding-left: 1em;
        border-right-color: #0f0f0f;
        border-right-style:solid;
    }
    #order_cart_value {
        background-color:  #ffffb3;
    }
    body{
        background-color: #f5f5f5;
    }
    .blackColorIcon {
        color: #727272;
    }
    .itemPanel{
        margin-left: 15%;
    }
</style>
 <br /><br />
  <br />

<div class="container" >
{{#if message}}
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{message}}
        </div>
{{/if}}
</div>

<div class="itemPanel">
<form action="" onsubmit="return false">
<div>
<div class="row">
  {{#each itemList}}
    {{#ifCustomize @index}}
      <div class="col-sm-2 column">
        <div class="panel panel-success" style="background-color: white">
          <div class="panel-heading">{{name}}</div>
          <input type="hidden" name="item_name" value='{{name}}'>
          <input type="hidden" name="item_price" value='{{price}}'>
          <input type="hidden" name="item_id" value='{{id}}'>
            <input type="hidden" name="avble_qty" value='{{avaible_qty}}'>
          <div class="panel-body">
            <img src="{{item_image_path}}" class="img-responsive" style="width:100%;height:150px" alt="Image">
          </div>
          <div class="panel-footer" style="background-color: white">
              <i class="fa fa-inr"></i>&nbsp;{{price}}&nbsp;
              <br />Available Quantity: {{avaible_qty}}
              <br />{{description}}
              <br /><br />
              {{#checkAvableQty avaible_qty}}
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <input type="submit"
                         class="btn btn-success"
                         value="Add to Cart"
                         onclick="addItemtoCart('{{id}}','{{name}}','{{price}}','1',{{avaible_qty}})"
                  />
              {{else}}
                  <input type="submit"
                         class="btn"
                         value="SOLD OUT"
                         onclick="addItemtoCart('{{id}}','{{name}}','{{price}}','1')"
                         disabled
                  />
              {{/checkAvableQty}}
          </div>
        </div>
      </div>
      {{incrementCounterVariable}}
    {{else}}
      </div>
      <div class="row">
        <div class="col-sm-2 column">
          <div class="panel panel-success">
            <input type="hidden" name="item_name" value='{{name}}'>
            <input type="hidden" name="item_price" value='{{price}}'>
            <input type="hidden" name="item_id" value='{{id}}'>
            <input type="hidden" name="avble_qty" value='{{avaible_qty}}'>
            <div class="panel-heading">{{name}}</div>
            <div class="panel-body">
              <img src="{{item_image_path}}" class="img-responsive" style="width:100%;height:150px" alt="Image">
            </div>
              <div class="panel-footer" style="background-color: white">
                  <i class="fa fa-inr"></i>&nbsp;{{price}}
                  <br />Available Quantity: {{avaible_qty}}
                  <br />{{description}}
                  <br /><br />
                  {{#checkAvableQty avaible_qty}}
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                      <input type="submit"
                         class="btn btn-success"
                         value="Add to Cart"
                         onclick="addItemtoCart('{{id}}','{{name}}','{{price}}','1',{{avaible_qty}})"
                  />
                  {{else}}
                      <input type="submit"
                             class="btn"
                             value="Sold OUT"
                             onclick="addItemtoCart('{{id}}','{{name}}','{{price}}','1',{{avaible_qty}})"
                             disabled
                      />
                  {{/checkAvableQty}}
              </div>
          </div>
        </div> 
    {{resetCounterVariable}}
    {{/ifCustomize}}
  {{/each}}
</div>
{{resetCounterVariable}}
</div>
</form>

<form id="order_cart_form" class="order_place" method="post">
<div id="cart_order_div" class="cart_order_div">
  <h5><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;YOUR ORDER</h5>
    <div class="panel-body" id="order_cart_value">
    <!--cart contents-->
    </div>
</div>
</form>

<div class='customAlert'>
    <p class='message'></p>
    <input type='button' class='confirmButton custmMessageClassButton' value='Ok'>
</div>
</div>


 <script>
     var order_object = [];
     var total = 0;
     if(!(checkTime())){
         document.getElementById("overlay").style.display = "block";
     }

     if(order_object .length==0){
         document.getElementById("order_cart_value").innerHTML = " <div class=\'panel-body\'>Please add items to your order</div>";
     }

     function addItemtoCart(id,name,price,qty,avaible_qty) {
         if(checkTime()){
             var currentCallback;
             // override default browser alert
             window.alert = function(msg, callback){
                 $('.message').text(msg);
                 $('.customAlert').css('animation', 'fadeIn 0.3s linear');
                 $('.customAlert').css('display', 'inline');
                 currentCallback = callback;
            }
            $(function(){
                // add listener for when our confirmation button is clicked
                $('.confirmButton').click(function(){
                    $('.customAlert').css('animation', 'fadeOut 0.3s linear');
                    setTimeout(function(){
                        $('.customAlert').css('display', 'none');
                        $('.customAlert').css('animation', 'none');
                        }, 300);
                    currentCallback();
                })
                alert("We are Closed now, but still you can place your order in advance for your next Meal!", function(){
                     console.log("Callback executed");
                })
                // our custom alert box
                setTimeout(function() {
                });
            });
         }
         newItemobject = { "ID": id, "Name": name, "Price": price,"Qty": qty,"SubTotal": parseInt(price)*parseInt(qty),"avaible_qty":parseInt(avaible_qty) };
         addItemToOrder(newItemobject);
     }

     function checkTime() {
         var today=new Date();
         var h=today.getHours();
         if(((h>= 12) && (h<17)) || ((h>= 17) && (h<21))){
            return false;
         }
         else{
             return false;
         }
     }


     function  addItemToOrder(newItemobject) {
         order_object.push(newItemobject);
         add_item_to_cart();
     }

     function add_item_to_cart() {
         sessionStorage.order_object = order_object;
         var sub_total=0;
         document.getElementById("order_cart_value").innerHTML="";

         document.getElementById("order_cart_value").innerHTML += ""+
                 "<table id='order_cart_table' class='table' style='font-size:90%'>" +
                 "<tr>" +
                    "<th></th>" +
                    "<th></th>" +
                    "<th></th>" +
                 "</tr></table>";

         for(i=0;i<=order_object.length-1;i++){
             var table = document.getElementById("order_cart_table");
             var row = table.insertRow(i+1);
             var cell1 = row.insertCell(0);
             var cell2 = row.insertCell(1);
             var cell3 = row.insertCell(2);
             cell1.innerHTML = order_object[i].Name+"<input type='hidden' value='"+order_object[i].Name+"' name='itemName' />"+
                     "<br /><a href='#' onclick='add_quintity("+i+","+order_object[i].avaible_qty+")'><span class='icon-2x blackColorIcon icon-plus-sign'></span></a>" +
                     "<a href='#' onclick='reduce_quintity("+i+")'><span class='icon-2x blackColorIcon icon-minus-sign'></span></a>" +
                     "<input type='hidden' value='"+order_object[i].ID+"' name='itemID' />";
             cell2.innerHTML = order_object[i].Qty+"<input type='hidden' value='"+order_object[i].Qty+"' name='itemQty' />&nbsp;X&nbsp;" +
                     order_object[i].Price+"<input type='hidden' value='"+order_object[i].Price+"' name='itemPrice' />";
             cell3.innerHTML = parseInt(order_object[i].Price)*parseInt(order_object[i].Qty);
             sub_total += parseInt(cell3.innerHTML);
         }

         var table = document.getElementById("order_cart_table");

         var row = table.insertRow(order_object.length+1);
         var cell1 = row.insertCell(0);
         var cell2 = row.insertCell(1);
         var cell3 = row.insertCell(2);

         cell2.innerHTML = "Sub Total";
         cell3.innerHTML = sub_total;

         var table = document.getElementById("order_cart_table");

         var row = table.insertRow(order_object.length+2);
         var cell1 = row.insertCell(0);
         var cell2 = row.insertCell(1);
         var cell3 = row.insertCell(2);

         cell2.innerHTML = "Tax";
         cell3.innerHTML = '0';

         var table = document.getElementById("order_cart_table");

         var row = table.insertRow(order_object.length+3);
         var cell1 = row.insertCell(0);
         var cell2 = row.insertCell(1);
         var cell3 = row.insertCell(2);

         cell2.innerHTML = "Grand Total";
         cell3.innerHTML = sub_total;

         document.getElementById("order_cart_value").innerHTML +="<br />" +
                 "<input type='button' class='btn btn-success' style='height: 3em;' onclick='submitform()' " +
                 "value='Process to Checkout' />";

     }
 </script>

 <style>
     th, td {
         text-align: justify;
         padding: 0px;
     }
    tr:nth-child(odd){}
    tr:nth-child(even){}

     th {
         background-color: #4CAF50;
         color: white;
     }
 </style>

<script>
    function submitform() {
        sessionStorage.myvar = document.getElementsByName("itemName[]");
        document.getElementById("order_cart_form").submit();
    }
</script>

<script>
    function add_quintity(index,avbl_qnty){
        order_object[index].Qty = parseInt(order_object[index].Qty);
        if(order_object[index].Qty<avbl_qnty)
            order_object[index].Qty+=1;
        add_item_to_cart();
    }
    function reduce_quintity(index){
        order_object[index].Qty = parseInt(order_object[index].Qty);
        order_object[index].Qty-=1;
        if(order_object[index].Qty==0) {
            order_object.splice(index, 1);
        }
        if(order_object.length==0)
            document.getElementById("order_cart_value").innerHTML = " <div class=\'panel-body\'>Please add items to your order</div>";
        else
            add_item_to_cart();
    }
</script>


<style>
    .customAlert {
        display: none;
        position: fixed;
        max-width: 25%;
        min-width: 250px !important;
        min-height: 20%;
        height: 200px;
        left: 50%;
        top: 50%;
        padding: 10px;
        box-sizing: border-box;
        margin-left: -12.5%;
        margin-top: -5.2%;
        background: #088A68;
    }
    @media all and (max-width: 1300px){
        .message{
            font-size: 14px !important;
        }
        input[type='button']{
            height: 15% !important;
        }
    }

    .message{
        padding: 5px;
        color: white;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }

    .custmMessageClassButton{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 50%;
        height: 36px;
        margin-top: -45px;
        margin-left: -25%;
        outline: 0;
        border: 0;
        background: #04B486;
        color: white;
    }
  /*  &:hover{
         transition: 0.3s;
         cursor: pointer;
         background: lighten(#04B486, 5%);
     }
*/

    .rab{
        width: 200px;
        height: 30px;
        outline: 0;
        border: 0;
        color: white;
        background: #04B486;
    }

    @keyframes fadeOut{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
</style>


<style>
    .productbox {
        background-color:#ffffff;
        padding:10px;
        margin-bottom:10px;
        -webkit-box-shadow: 0 8px 6px -6px  #999;
        -moz-box-shadow: 0 8px 6px -6px  #999;
        box-shadow: 0 8px 6px -6px #999;
    }

    .producttitle {
        font-weight:bold;
        padding:5px 0 5px 0;
    }

    .productprice {
        border-top:1px solid #dadada;
        padding-top:5px;
    }

    .pricetext {
        font-weight:bold;
        font-size:1.4em;
    }
</style>