<br />
<form method="post">
<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <address>
                    <strong>{{user.lastname}},{{user.firstname}}</strong>
                    <br>
                    {{user.location}}
                    <br>
                    {{user.location}}
                    <br>
                    <abbr title="Phone">P:</abbr> {{user.phone}}
                </address>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <p>
                    <em>Date:
                    <script>
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1;
                        var yyyy = today.getFullYear();

                        if(dd<10) {
                            dd = '0'+dd
                        }

                        if(mm<10) {
                            mm = '0'+mm
                        }

                        today = mm + '/' + dd + '/' + yyyy;
                        document.write(today);
                    </script>
                    </em>
                </p>
                <p>
                    <em>Receipt #: 34522677W</em>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h1>Receipt</h1>
            </div>
            </span>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>#</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                {{#each object_item_hash}}
                <tr>
                    <td class="col-md-9"><em>{{order_itemName}}</em></td>
                    <td class="col-md-1" style="text-align: center">{{order_itemQty}}</td>
                    <td class="col-md-1 text-center">{{order_itemPrice}}</td>
                    <td class="col-md-1 text-center">{{sub_Total}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td class="text-right">
                        <p>
                            <strong>Subtotal: </strong>
                        </p>
                        <p>
                            <strong>Tax: </strong>
                        </p></td>
                    <td class="text-center">
                        <p>
                            <strong>{{bill_total}}</strong>
                        </p>
                        <p>
                            <strong>0</strong>
                        </p></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td class="text-right"><h4><strong>Total: </strong></h4></td>
                    <td class="text-center text-danger"><h4><strong>{{bill_total}}</strong></h4></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success btn-lg btn-block">
                Place Order   <span class="glyphicon glyphicon-chevron-right"></span>
            </button></td>
        </div>
    </div>
</div>
</form>
