<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
alert(sessionStorage.getItem( "total" ));
</script>

<div id="dialog-confirm" title="Cancle Order">
  <p  style="float:left; margin:12px 12px 20px 0;"><span class="ui-icon ui-icon-alert"></span>  Do you want to cancle this order?</p>
</div>

<br />
<div class="container">
    <div class="row">
        <h2><i class="fa fa-history" aria-hidden="true"></i> ORDER HISTORY</h2>
        <input type="text" id="myInput1" style="height: 40px;" onkeyup="myFunction(0,'myInput1')" placeholder="Search by Order Date" title="Type in a name">
        <input type="text" id="myInput2" style="height: 40px;" onkeyup="myFunction(1,'myInput2')" placeholder="Search by Order Number" title="Type in a name">
        <form id="order_history_tbl" method="post">
            <input type='hidden' id= 'rcptnumber' name='rcptnumber' value='' />
            <div class="table-responsive">
                <table id="myTable">
                    <tr class="header">
                        <th onclick="sortTable(0)">Order Date <span class="glyphicon glyphicon-sort"></span></th>
                        <th onclick="sortTable(1)">Order Number <span class="glyphicon glyphicon-sort"></span></th>
                        <th>Item</th>
                        <th onclick="sortTable(3)">Bill Amount <span class="glyphicon glyphicon-sort"></span></th>
                        <th onclick="sortTable(4)">Status <span class="glyphicon glyphicon-sort"></span></th>
                        <th>Action</th>
                    </tr>
                    {{#each object_item_hash}}
                        <tr>
                            <td>{{order_date}}</td>
                            <td>{{receipt_number}}</td>
                            <td>{{order_itemName}}-{{order_itemQty}}</td>
                            <td><i class="fa fa-inr"></i>&nbsp;{{total}}</td>
                            <td>
                              <span class="label label-info">{{status}}</span>
                            </td>
                            <td>
                                {{#checkOrderStatus status}}
                                    <a href='#' onclick="submitform('{{receipt_number}}')">Cancel</a>
                                {{/checkOrderStatus}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </form>
    </div>
</div>

<script>
    function submitform(rcpt_number) {
      $( function() {
        $( "#dialog-confirm" ).dialog({
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            "Yes": function() {
              document.getElementById('rcptnumber').value = rcpt_number;
              document.getElementById("order_history_tbl").submit();
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
      } );
    }
</script>
<script>
    function myFunction(index,id) {
        var input, filter, table, tr, td, i;
        input = document.getElementById(id);
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[index];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    sortTable(0);
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<style>
    * {
        box-sizing: border-box;
    }

    #myInput1 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 40%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myInput2 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 40%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

    #myTable th, #myTable td {
        text-align: left;
        padding: 10px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header, #myTable tr:hover {
        background-color: #f1f1f1;
    }
    #dialog-confirm { display: none }
</style>
