<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<br />
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{user.lastname}} {{user.firstname}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">
            <img alt="User Pic" src="\images\user_pic.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td>{{user.firstname}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{user.lastname}}</td>
                </tr>
                <tr>
                  <td>Delievery Address</td>
                  <td>{{user.location}},{{user.city}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{user.email}}</td>
                </tr>
                  <td>Phone Number</td>
                  <td>{{user.phone}}</td>
                </tr>
                <tr>
                  <td colspan="2"><br />
                  <a href="/user_password_update">Change Password</a>
                </td>
              </tr>
            </tbody>
            </table>
            <center><a href="/user_edit_profile" class="btn btn-primary">Update Your Profile</a></center>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-right"></span>
      </div>
    </div>
  </div>
</div>
<script>
startTime();
function startTime() {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('timeing').innerHTML = h+":"+m+":"+s;
    var t = setTimeout(function(){startTime()},500);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
